.regist{
    margin-left: 30%;
    color: blue;
}
.email{
    color: cornflowerblue;
}
.bloc{
    margin-left: 31%;
}
.logot{
   background-color: cyan;
}
.blog{
    color: darkblue;
    font-size: 26px;
    font-weight: 700;
}
.note{
    color: darkblue;
    font-size: 20px;
    font-weight: 600;
}